.fade-enter-active {
  transition: all .2s ease-in-out;
  opacity: 1;
}
.fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  opacity: 0;
}
.fade-enter, .fade-leave-active {
  /* transform: translateY(50px); */
  opacity: 0;
}
/*
  默认初始化
*/
    body{
      margin: 0;
      background:#EDEDF2;
    }
    .bgWhite{
      background: white;
    }
    .colorWhite{
      color: white;
    }
    .TextLeft{
      text-align: left !important;
    }
    .TextRight{
      text-align: right !important;
    }
    .fs16{
      font-size: .25rem;
    }
    .fs17{
      font-size: .30rem;
    }
    .fs18{
      font-size: .35rem;
    }
    .fsTitle{
      font-size: .33rem;
    }
    .padRight{
      padding-right:0.2rem;
    }
    .marBottom{
      margin-bottom:0.1rem;
    }
    .marLeft{
      margin-left:0.2rem;
    }
    .marRight{
      margin-right:0.2rem;
    }
    .marTop{
      margin-top:0.1rem;
    }
    .padBottom{
      padding-bottom: .1rem;
    }
    .padding02{
      padding:.2rem;
    }
    .borderBottom{
      border-bottom: 1px solid #C6C6C6
    }
    ul,li{
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .displayBlock{
      display: inline-block;
    }
    .look{
      color: #4693EC;
      font-weight: bold;
      font-size: .35rem;
    }
    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      /* text-align: center; */
      font-size: .25rem;
      /* margin-bottom: 2.1rem; */
      /* color: #2c3e50; */
      /* margin-top: 60px; */
    }
    img{
      padding: .1rem;
      box-sizing: border-box;
    }
    a{
      text-decoration: none;
    }
